 label {
                color: #666;
            }
            .swal2-icon--success__ring{
                border: 4px solid hsla(1,100%,50%,.2);
            }
            .swal2-icon--success__line--long{
                background-color: #286090;
            }
            .swal2-icon--success__line--tip{
                background-color: #286090;
            }
            .swal2-icon--success{
                border-color:#286090;
            }
            .swal2-button:active{
                background-color: #286090;
            }
            .swal2-modal{
                width:300px;
            }
            .swal2-icon.swal2-question{
            color: #286090; 
            border-color: #286090;
            }

            .swal2-icon.swal2-success .swal2-success-ring{
                border: 4px solid hsla(1,100%,50%,.2);
            }
            .swal2-icon--success__line--long{
                background-color: #286090;
            }
            .swal2-icon--success__line--tip{
                background-color: #286090;
            }
            .swal2-icon.swal2-success{
                border-color:#286090;
            }
            .swal2-button:active{
                background-color: #286090;
            }
            .swal2-modal{
                width:250px;
            }
            .swal2-icon.swal2-success [class^='swal2-success-line']{
                background-color:#286090;
            }
            .swal2-success-line-tip{
                background-color:#286090;
            }
            .swal2-container{
                z-index: 100001;
            }
            .swal2-icon.swal2-error{
                border-color: #286090
            }
            .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
                background-color: #286090;
            }
            .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
                background-color: #286090; 
            }
            .swal2-icon.swal2-success .swal2-success-ring{
                border: 4px solid; 
                border-color: #286090
            }
            .img-circle {
                border-radius: 50%;
            }
            a, a:hover, a:visited {
                color: #000;
            }
            @media (min-width:768px){
                .modal-open .modal {
                    overflow-x: hidden;
                    overflow-y: hidden;
                }
            }
            .transparencia {
                 filter:alpha(opacity=60);
                 opacity: 0.6;
                 -moz-opacity:0.6;
                 -webkit-opacity:0.6;
            }
            body,
            .modal-open .modal {
                padding-right: 0 !important;
            }

            .modal-open .modal {
                overflow-x: hidden;
                overflow-y: hidden;
            }
            .modal-body {
                max-height: calc(100vh - 210px);
                overflow-y: auto;
            }

            @media (min-width: 768px) {
                .modal-dialog {
                    width: 600px;
                    margin-top: 100px;
                }
            }

            .campo-foto {
                position: relative;
                margin-bottom: 5px;
                padding-right: 30px;
            }

            .campo-foto input {
                width: 100%;
            }

            .campo-foto a {
                background-color: #C00;
                color: #FFF;
                font-weight: bold;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 18px;
                position: absolute;
                top: 15px;
                right: 0;
                font-size: 10px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .campo-foto a:hover {
                opacity: 0.8;
            }

            .form-inline .form-group,
            .form-inline .form-control,
            .form-inline .input-group {
                width: 100%;
            }
            
            .form-inline .form-group {
                margin-bottom: 8px;
            }

            @media (min-width: 992px) {
                .col-md-2 {
                    width: 20%;
                }
            }

            .modal {
                z-index: 100000;
            }

            @media (max-width: 768px) {
                .modal-dialog-center {
                    margin-top: 0;
                    margin-left: 0;
                    margin-right: 0;
                }
                .modal-content {
                    height: 450px;
                    overflow-y: auto;
                }
                .modal-dialog{
                      overflow-y: initial !important;
                }
            }

            .swal2-container {
                z-index: 100001 !important;
            }

             .pricing-top {
                position: relative;
             }

             .pricing-top img {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 40px;
             }
             
        	.page-titulo {
        		margin: 15px 0 15px;
        		padding-right: 30px;
        		position: relative;
        		padding-bottom: 4px;
        	}
                
        	.page-titulo a {
        		background-color: #6e4682;
        		color: #FFF;
        		position: absolute;
        		top: 3px;
        		right: 0;
        		display: inline-block;
        		width: 20px;
        		text-align: center;
        		font-weight: bold;
        	}

        	.page-titulo a:hover {
        		background-color: #6e4682;
        		text-decoration: none;
        	}


            .page-loader-action {

                z-index: 12;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                display: none;
                background: rgba(255,255,255,0.6);
                overflow: hidden;
                text-align: center;

            }

            .page-loader-action .loader {

                position: relative;
                top: calc(50% - 30px);

            }


            .loader {
                width: 100px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .loader > div {
                content: " ";
                width: 20px;
                height: 20px;
                background: #2196f3;
                border-radius: 100%;
                position: absolute;
                animation: shift 2s linear infinite;
            }
            .loader > div:nth-of-type(1) {
                animation-delay: -0.4s;
            }
            .loader > div:nth-of-type(2) {
                animation-delay: -0.8s;
            }
            .loader > div:nth-of-type(3) {
                animation-delay: -1.2s;
            }
            .loader > div:nth-of-type(4) {
                animation-delay: -1.6s;
            }
            @keyframes shift {
                0% {
                    left: -60px;
                    opacity: 0;
                    background-color: #804ae1;
                }
                10% {
                    left: 0;
                    opacity: 1;
                }
                90% {
                    left: 100px;
                    opacity: 1;
                }
                100% {
                    left: 160px;
                    background-color: #ff0b3d;
                    opacity: 0;
                }
            }
            .info {
                position: absolute;
                bottom: 0;
                color: crimson;
            }
            .info .info-text {
                display: none;
            }
            .info input:checked + .info-text {
                display: block;
            }


            .radio {
                margin: 0.5rem;
            }
            .radio input[type="radio"] {
                position: absolute;
                opacity: 0;
            }
            .radio input[type="radio"] + .radio-label:before {
                content: '';
                background: #fff;
                border-radius: 100%;
                border: 1px solid #3197ee;
                display: inline-block;
                width: 1em;
                height: 1em;
                position: relative;
                top: 0.3em;
                margin-right: 1em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
            .radio input[type="radio"]:checked + .radio-label:before {
                background-color: #3197ee;
                box-shadow: inset 0 0 0 4px #f4f4f4;
            }
            .radio input[type="radio"]:focus + .radio-label:before {
                outline: none;
                border-color: #3197ee;
            }
            .radio input[type="radio"]:disabled + .radio-label:before {
                box-shadow: inset 0 0 0 4px #f4f4f4;
                border-color: #b4b4b4;
                background: #b4b4b4;
            }
            .radio input[type="radio"] + .radio-label:empty:before {
                margin-right: 0;
            }

            .insta-followers a {
                padding: 15px 30px;
                background-color: #E33E5C;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                color: #FFF;
                border-radius: 20px;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                transition: all 0.3s;
                font-size: 14px !important;
                font-family: "Montserrat", sans-serif !important;
            }
            .insta-followers a:hover {
                background-color: #E33E5C;
                box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.2);
                color: #FFF;
                font-size: 14px !important;
                font-family: "Montserrat", sans-serif !important;
            }
            .insta-followers a i {
                display: center;
                color: #FFF;
            }

            .insta-likes a {
                padding: 15px 30px;
                background-color: #9e268a;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                color: #FFF;
                border-radius: 20px;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                transition: all 0.3s;
                font-size: 14px !important;
                font-family: "Montserrat", sans-serif !important;
            }
            .insta-likes a:hover {
                background-color: #9e268a;
                box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.2);
                color: #FFF;
                font-size: 14px !important;
                font-family: "Montserrat", sans-serif !important;
            }
            .insta-likes a i {
                display: center;
                color: #FFF;
            }
